.comment{:id => "comment-#{comment.id}"}
  %p
  Submitted by
  = comment.user.email
  %p= comment.content 
  .col-md-12
    .btn-group.pull-right
      = link_to 'Delete', [@pin, comment], remote: true, method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger"